# =========================
# Jekyll build artifacts
# =========================
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# =========================
# Bundler / Ruby
# =========================
.bundle/
vendor/bundle/
vendor/cache/
Gemfile.lock